aiohttp>=3.9
aiohttp-auth==0.1.1
aiohttp-route-decorator==0.1.4
aiohttp-security==0.5.0
aiohttp-session>=2.11.0
aiohttp-swagger==1.0.16
aiojobs==1.3.0
aiosqlite==0.20.0
cryptography==43.0.3
requests==2.31.0
voluptuous==0.15.2
pyfiglet==1.0.2
pandas==2.0.3
shortuuid==1.0.13
tabulate==0.9.0
numpy==1.24.4
cbpi4ui
click==8.1.8
importlib_metadata==6.11.0
aiomqtt>=2.0.0
psutil==5.9.8
zipp>=0.5
questionary>=2.0.0
colorama==0.4.6
pytest-aiohttp
coverage==7.6.12
